.footer {
    padding: 30px 0 19px;
    background-color: $color-footer-bg;
    color: $color-footer-text;

      &__top {
            margin-bottom: 17px;
      }

      &__bottom {
            padding-top: 32px;
            border-top: 1px solid $color-footer-line;
      }

      &__logo-wrap {
            display: flex;
            justify-content: center;
            margin-bottom: 38px;
      }

      &__logo {
            width: 122px;
            max-width: 122px;
      }

      &__logo-img {
      }

      &__nav {
            max-width: 400px;
            margin: 0 auto;
      }

      &__nav-row {
            list-style: none;
            margin: 0;
      }

      &__nav-col {
            margin: 0;
            padding-bottom: 12px;
      }

      &__nav-title {
            margin: 0;
            font-size: 14px;
            font-weight: 600;
            line-height: 21px;
            color: inherit;
            font-family: $font-title;

            &--desc {
                  display: none;
            }

            &--collapse {
                  display: flex;
                  position: relative;
                  width: 100%;
                  justify-content: space-between;
                  align-items: center;
                  background: transparent;
                  border: none;
                  cursor: pointer;

                  &::after {
                        content: "";
                        margin-left: 14px;
                        position: absolute;
                        display: block;
                        top: 50%;
                        right: 0;
                        width: 19px;
                        height: 11px;
                        position: relative;
                        background-image: url("data:image/svg+xml,%3Csvg width='19' height='11' viewBox='0 0 19 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L9.5 9.5L18 1' stroke='white' stroke-width='1.5' stroke-linecap='round'/%3E%3C/svg%3E%0A");
                        background-size: cover;
                        background-repeat: no-repeat;
                        transform: none;
                        transition: all 300ms linear;
                  }

                  &[aria-expanded="true"]::after {
                        transform: rotate3d(1, 0, 0, 180deg);
                        transition: all 300ms linear;
                  }
            }
      }

      &__collapse {
            margin: 0;
      }

      &__nav-list {
            list-style: none;
            margin: 0;
            padding: 15px 0 2px;
      }

      &__nav-item {
            margin: 0;
            font-size: 0;
      }

      &__nav-link {
            font-size: 14px;
            font-weight: 400;
            line-height: 1.7;
            text-decoration: none;
            transition: all 0.4s ease;
            outline: none;
            font-family: $font-title;
            color: $color-footer-links;

      &:hover,
      &:focus {
            color: $color-footer-links-hov;
            text-decoration: none;
      }
      }

      &__contact-text {
            margin: 0;
            padding: 15px 0 2px;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.7;
            font-family: $font-title;
      }

      &__socials-wrap {
            margin-bottom: 18px;
      }

      &__copy-wrap {
            font-size: 9px;
            line-height: 11px;
            text-align: center;
            opacity: .5;
      }

      &__copy {
            margin: 0;
      }

      &__author {
            margin: 0;
      }

      @include media-sm {
            &__center {
                  display: flex;
                  flex-flow: row nowrap;
            }

            &__top {
                  flex: 1;
            }

            &__bottom {
                  flex-basis: 180px;
                  margin-left: 20px;
                  padding-top: 9px;
                  border-top: none;
                  display: flex;
                  flex-flow: column nowrap;
                  justify-content: space-between;
                  align-items: flex-end;
            }

            &__logo-wrap {
                  justify-content: flex-start;
            }

            &__nav {
                  margin: 0;
            }
      }

      @include media-lg {
            &__collapse {
                  display: block !important;
            }

            &__nav-title {
                  &--desc {
                        display: block;
                  }

                  &--collapse {
                        display: none;
                  }
            }

            &__center {
                  display: block;
            }

            &__top {
                  display: flex;
                  flex-flow: row nowrap;
                  justify-content: space-between;
                  margin-bottom: 5px;
            }

            &__logo-wrap {
                  flex: 0 1 200px;
            }

            &__nav {
                  flex: 1 1 auto;
                  max-width: 970px;
                  width: 100%;
            }

            &__nav-row {
                  display: flex;
                  margin: 0 -10px;
            }

            &__nav-col {
                  padding: 0 10px;
                  flex-grow: 1;
                  flex: 1 1 auto;

                  &:last-child {
                        flex: 0 1 300px;
                  }
            }

            &__bottom {
                  margin-left: 0;
                  padding-top: 0;
                  align-items: flex-start;
            }

            &__copy-wrap {
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  min-width: 100%;
                  opacity: .8;
            }

            &__socials-wrap {
                  margin-bottom: 26px;
            }
      }

      @include media-xl {
            padding: 50px 0 25px;

            &__logo {
                  width: 162px;
                  max-width: 162px;
            }

            &__nav-col {

                  &:last-child {
                        flex: 0 1 340px;
                  }
            }

            &__socials-wrap {
                  margin-bottom: 37px;
            }
      }

      @include media-content {
            padding: 68px 0 25px;
      }
}
