.header {

    &__center {
    }

    &__inner {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        min-height: 70px;
        align-items: center;
        line-height: 1;
    }

    &__drop-wrap {
    }

    &__logo-wrap {
        font-size: 0;
    }
    
    &__icons-wrap {
        min-width: 24px;
        display: flex;
        justify-content: flex-end;
    }

    &__modal {
        padding-top: 70px;

        .modal-dialog {
            max-width: none;
            margin: 0;
        }

        &.fade {
            .modal-dialog {
                transform: translate(-100%, 0) !important;
                opacity: 0;
                transition: all .15s linear;
            }

            &.in {
                .modal-dialog {
                    opacity: 1;
                    transform: translate(0, 0) !important;
                    transition: all .15s linear;
                }
            }
        }
    }

    &__nav-drop {
        position: relative;
        padding: 20px 20px 35px;
        background-color: $color-bg;
        border-top: 1px solid $color-decor;

        &-list {
            list-style: none;
            margin: 0;
        }

        &-item {
            margin: 0;
        }

        &-link {
            display: block;
            padding: 7px 0;
            font-size: 16px;
            font-weight: 700;
            line-height: 1;
            text-decoration: none;
            text-transform: uppercase;
            transition: all 0.4s ease;
            outline: none;
            color: $color-text-nav;

            &:hover,
            &:focus,
            &:active {
                color: $color-text-nav-hov;
                text-decoration: none;
            }

            &.is-header-nav-active {
                color: $color-text-nav-hov;
            }
        }

        &-search {

        }
    }

    &__button-mob {
        width: 24px;
        height: 12px;
        background: transparent;
        border: none;
        cursor: pointer;
    }

    &__button-mob-icon {

    }

    &__logo {
        width: 101px;
        max-width: 101px;
    }

    &__logo-img {
        width: inherit;
    }
}
