.solutions {

    &__left {
        text-align: center;
        font-size: 0;
    }

    &__right {
        display: none;
        font-size: 0;
    }

    &__desc {
        margin-bottom: 17px;
        font-size: 20px;
        line-height: 28px;
        color: $color-text-secondary;
    }

    &__btn-wrap {
        display: none;
        position: relative;
    }
    
    &__video-wrap {
        position: relative;
        cursor: pointer;
        transition: all .2s;

        &:hover,
        &:focus,
        &:active {
            box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.4);
            transition: all .2s;
        }
    }

    &__video-bcg {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__video-title-wrap {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 226px;
        padding: 25px 25px 25px 30px;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        background-color: $color-bg;
    }

    &__video-icon-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        margin-right: 19px;
        border-radius: 50%;
        background-color: $color-text-primary;
    }

    &__video-icon {
        width: 18px;
        height: 20px;
        padding-left: 3px;
    }

    &__video-text {
        flex: 1;
        font-size: 18px;
        line-height: 18px;
        font-weight: 600;
    }

    &__video-text-top {
        margin-bottom: 5px;
        color: $color-text-secondary;
    }

    &__video-text-btm {
    }

    @include media-lg {
        &__desc {
            margin-bottom: 27px;
        }
    }

    @include media-xl {
        display: flex;
        flex-flow: row nowrap;

        &__left {
            flex: 1 1 auto;
            display: flex;
            flex-flow: column nowrap;
            padding-right: 32px;
            text-align: left;
        }
    
        &__right {
            flex: 0 0 454px;
            display: block;
        }

        &__text-wrap {
            max-width: 610px;

            @supports (flex: 1) {
                flex: 1;
            }
        }



        &__desc {
            margin-bottom: 49px;
        }

        &__btn-wrap {
            display: block;
            margin-top: 40px;
        }
    }
}