.banner-index {
    &__center {
        position: relative;
        font-size: 0;
    }

    &__paper {
        padding: 13px 20px 35px;
        background-color: $color-banner-index-bcg;
    }

    &__text {
        margin-bottom: 23px;
        display: -webkit-box;
        line-clamp: 7;
        -webkit-line-clamp: 7;
        box-orient: vertical;
        -webkit-box-orient: vertical;  
        overflow: hidden;
        font-size: 20px;
        line-height: 28px;
        font-weight: 300;
        color: $color-banner-index-text;
    }

    &__img-box {
        margin-right: -$width-gap-gorizontal;
        margin-left: -$width-gap-gorizontal;
        position: relative;
        margin-top: -130px;
        z-index: -1;
        height: 560px;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__title {
        margin: 0 0 5px;
        text-align: left;
        font-size: 30px;
        font-weight: 700;
        line-height: 48px;
        text-transform: none;
    
        @include media-xl {
            font-size: 48px;
            margin-bottom: 30px;
        }
    }

    &--reverse {
        .banner-index__center {
            overflow: hidden;
        }

        .banner-index__img-box {
            margin-top: -70px;
            margin-right: -120px;
            height: 670px;
        }
    }

    @include media-lg {
        &__paper {
            width: 50%;
            max-width: 708px;
            border: 1px solid #000000;
        }

        &__center {
            padding-top: 50px;
            padding-bottom: 50px;
        }

        &__img-box {
            margin-right: 0;
            margin-left: 0;
            position: absolute;
            top: 0;
            right: $width-gap-gorizontal;
            bottom: 0;
            left: 100px;
            width: auto;
            height: auto;
            margin-top: 0;
            z-index: -1;
            height: auto;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.4));
        }

        &--reverse {
            position: relative;
            text-align: right;
            z-index: 2;

            .banner-index__center {
                overflow: visible;
            }

            .banner-index__paper {
                max-width: 692px;
                display: inline-block;
                text-align: left;
            }

            .banner-index__img-box {
                margin-top: 0;
                margin-right: 0;
                margin-left: 0;
                right: auto;
                left: $width-gap-gorizontal;
                width: calc(50% + 87px);
                height: auto;
            }
        }
    }

    @include media-xl {
        &__paper {
            padding: 48px 50px 50px 40px;
        }

        &__center {
            padding-top: 62px;
            padding-bottom: 62px;
        }

        &__text {
            margin-bottom: 57px;
            line-height: 29px;
        }

        &__img-box {
            left: 140px;
        }

        &--reverse {
            text-align: right;

            .banner-index__center {
                min-height: 650px;
                padding-top: 64px;
                padding-bottom: 64px;
            }

            .banner-index__paper {
                min-height: 522px;
                padding-right: 140px;
                padding-left: 85px;

                &-inner {
                    min-height: 422px;
                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: center;
                }
            }
        }
    }
}
