.banner-main {
    &__img-box {
        height: 455px;
        position: relative;
        z-index: -1;
        background-color: #949ba2;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: -152px 50%;
    }

    &__text-wrap {
        margin-top: -30px;
        padding: 27px 20px 32px;
        background-color: #666A6F;
    }

    &__title {
        color: $color-text-banner;
    }

    &__desc {
        margin-bottom: 14px;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        color: #ECECEC;
    }

    @include media-sm {
        &__img {
            object-position: -20px 100%;
        }

        &__title {
            font-size: 30px;
        }
    }

    @include media-lg {
        position: relative;

        &__inner {
            position: absolute;
            top: 50%;
            right: 0;
            width: 50%;
            width: calc(50% + 20px);
            max-width: 760px;
            max-height: 420px;
            transform: translateY(-50%);
            overflow: hidden;
        }

        &__img {
            object-position: -100px 100%;
        }

        &__text-wrap {
            margin-top: 0;
            padding: 35px 30px 41px;

            @supports (backdrop-filter: blur()) {
                background-color: rgba(0, 0, 0, 0.36);
                backdrop-filter: blur(34px);
            }
        }

        &__desc {
            margin-bottom: 23px;
        }
    }

    @media (min-width: 1100px) {
        &__img {
            object-position: 0 100%;
        }
    }

    @include media-xl {
        height: 526px;

        &__img-box {
            height: 100%;
        }

        &__text-wrap {
            padding: 45px 35px 51px;
        }

        &__title {
            margin-bottom: 26px;
            font-size: 44px;
            line-height: 1;
        }

        &__desc {
            margin-bottom: 57px;
            font-size: 20px;
        }

    }

    @include media-content {
        &__inner {
            position: absolute;
            right: calc(50% - 740px);
        }

        &__text-wrap {
            padding: 56px 40px 51px;
        }

        &__title {
            font-size: 48px;
        }
    }
}
