.banner-secondary {
    position: relative;

    &__img-box {
        height: 455px;
        position: relative;
        z-index: -1;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(37, 37, 37, 0.45);
        }
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: -152px 50%;
    }

    &__inner {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        max-height: 50%;
        overflow: hidden;
    }

    &__text-wrap {
        padding: 0 20px;
    }

    &__title {
        color: $color-text-banner;
        font-size: 32px;
        font-weight: 700;
        text-transform: uppercase;
    }

    &__desc {
        max-width: 660px;
        display: -webkit-box;
        line-clamp: 5;
        -webkit-line-clamp: 5;
        box-orient: vertical;
        -webkit-box-orient: vertical;
        overflow: hidden;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        color: #E4E4E4;
    }

    @include media-sm {
        &__img {
            object-position: -20px 100%;
        }

        &__title {
            width: 75%;
            font-size: 38px;
        }

        &__desc {
            width: 75%;
        }
    }

    @include media-lg {
        &__inner {
            top: 47%;
        }

        &__img {
            object-position: -100px 100%;
        }

        &__text-wrap {
            margin-top: 0;
            padding: 0;
        }

        &__title {
            font-size: 46px;
        }
    }

    @media (min-width: 1100px) {
        &__img {
            object-position: 0 100%;
        }
    }

    @include media-xl {
        height: 526px;

        &__img-box {
            height: 100%;
        }

        &__inner {
            top: 45%;
        }

        &__title {
            max-width: 680px;
            margin-bottom: 24px;
            font-size: 64px;
            line-height: 1;
        }

        &__desc {
            max-width: 680px;
            font-size: 20px;
        }
    }

    @include media-content {
        &__inner {
            top: 43%;
            left: 50%;
            transform: translatex(-50%);
            width: 100%;
        }

        &__title {
            font-size: 72px;
        }
    }
}
