.catalog-settings {
    &__label-info {
        font-size: 15px;
        line-height: 28px;
        color: #808080;
    }

    &__sorting {
        margin: 0;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        list-style: none;
    }

    &__sorting-item {
        margin: 0;

        &--select {
            margin-left: 12px;
        }

        &--search {
            margin-left: 16px;
        }

        &--display {
            margin-left: 21px;
        }
    }

    &__btn-filter {
        height: 28px;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        font-size: 15px;
        font-weight: 700;
        line-height: 28px;
        background: transparent;
        border: none;
        cursor: pointer;
    }

    &__icon-filter {
        margin-left: 11px;
        width: 12px;
    }

    &__display-list {
        margin: 0;
        display: flex;
        flex-flow: row nowrap;
        list-style: none;
    }

    &__display-item {
        margin-right: 12px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__display-btn {
        width: 23px;
        height: 17px;
        background: transparent;
        border: none;
        cursor: pointer;
    }

    @include media-lg {
        margin-bottom: 45px;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        font-size: 0;
    }
}
