.catalog {
    margin-top: 28px;

    &__list {
        margin: -15px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }

    &__item {
        padding: 15px;
        max-width: 430px;
        flex: 0 1 100%;
    }

    &__link {
        height: 100%;
        display: flex;
        flex-flow: column nowrap;
        font-size: 0;
        text-decoration: none;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.04);
        transition: all .2s;

        &:hover,
        &:focus,
        &:active {
            outline: none;
            box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.4);
            transition: all .2s;
        }
    }

    &__img-wrap {
        display: inline-block;
        width: 100%;
        height: auto;
        font-size: 0;
        background-color: #F6F6F6;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    &__desc-wrap {
        padding: 15px 15px 17px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        background-color: #fff;

        @supports (flex: 1) {
            flex: 1;
        }
    }

    &__title {
        margin-bottom: 11px;
        font-weight: 700;
        font-size: 22px;
        line-height: 24px;
        color: $color-text-primary;
        text-align: center;
    }

    &__price-wrap {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
    }

    &__price-old {
        margin-right: 10px;
        font-weight: 400;
        font-size: 11px;
        line-height: 11px;
        color: #CACACA;
        text-decoration: line-through;
    }

    &__price-cur {
        font-weight: 700;
        font-size: 16px;
        line-height: 16px;
        color: rgba(17, 16, 16, 0.5);
    }

    &__btn-wrap {
        margin-top: 40px;

        &--top-enlg {
            margin-top: 60px;
        }
    }

    @include media-sm {
        &__item {
            flex: 0 1 50%;
        }   
    }

    @include media-md {
        &__item {
            flex: 0 1 33.3%;

            &:nth-last-child(-n+2) {
                display: none;
            }
        }
    }

    @include media-lg {
        &__item {
            flex: 0 1 25%;
            max-width: 25%;

            &:nth-last-child(-n+2) {
                display: block;
            }
        }

        &__btn-wrap {
            &--top-enlg {
                margin-top: 80px;
            }
        }
    }

    @include media-xl {
        margin-top: 40px;

        &__img-wrap {
            height: 360px;
        }

        &__desc-wrap {
            padding: 29px 15px 21px;
        }

        &__title {
            margin-bottom: 15px;
            font-size: 26px;
            line-height: 26px;
        }

        &__price-old {
            font-size: 12px;
            line-height: 12px;
        }

        &__price-cur {
            font-size: 18px;
            line-height: 18px;
        }

        &__btn-wrap {
            margin-top: 50px;

            &--top-enlg {
                margin-top: 100px;
            }
        }
    }
}
