.slider-projects {
    margin-top: 30px;
    margin-right: -10px;
    margin-left: -10px;
    font-size: 0;

		&__img-box {
            width: 100%;
            max-height: 350px;
            margin-bottom: 24px;
		}

		&__img {
            width: 100%;
            height: 100%;
            max-height: 350px;
            object-fit: cover;
		}

		&__desc {
            margin-bottom: 14px;
            font-size: 16px;
            font-weight: 600;
            line-height: 26px;
            text-transform: capitalize;
            color: rgba(17, 16, 16, 0.5);
		}

        &__slick {
            max-width: 400px;
            margin: -10px auto;

            .slick-arrow {
                top: 175px;
            }

            &:not(.slick-initialized) {
                display: flex;
                justify-content: center;
                height: 402px;

                & > * {
                    display: none;
                    flex: 1;

                    &:nth-child(1) {
                        display: block;
                    }
                }
            }
        }

        &__slide-wrap {
            font-size: 0;
            padding: 10px;
        }

        &__slide-link {
            display: inline-block;
            width: 100%;
            text-decoration: none;
            color: $color-text-primary;
            transition: all .2s;
            font-size: 0;

            &:hover,
            &:focus,
            &:active {
                outline: none;
                box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.4);
                transition: all .2s;
            }
        }

    @include media-md {
        margin-right: -15px;
        margin-left: -15px;

        &__slick {
            max-width: 768px;
            margin-right: auto;
            margin-left: auto;

            &:not(.slick-initialized) {
                height: 455px;

                & > * {

                    &:nth-child(2) {
                        display: block;
                    }
                }
            }
        }

        &__slide-wrap {
            padding: 10px 15px;
        }
    }

    @include media-lg {
        &__slick {
            max-width: 1090px;

            &:not(.slick-initialized) {
                height: 420px;

                & > * {

                    &:nth-child(3) {
                        display: block;
                    }
                }
            }
        }
    }

    @include media-xl {
        margin: 40px -15px 0;

        &__slick {
            max-width: none;
            margin-right: 0;
            margin-left: 0;
        }

        &__img-box {
            margin-bottom: 34px;
		}

        &__desc {
            margin-bottom: 15px;
        }

        &__slick {
            &:not(.slick-initialized) {
                height: 471px;
                min-height: 471px;

                & > * {

                    &:nth-child(2) {
                        display: block;
                    }

                    &:nth-child(3) {
                        display: block;
                    }

                    &:nth-child(4) {
                        display: block;
                    }
                }
            }
        }
    }
}
