.slider-solutions {
        margin-right: -10px;
        margin-left: -10px;
        position: relative;
        z-index: 1;

    &__slick {
        max-width: 400px;
        margin: -10px auto;

        &:not(.slick-initialized) {
            display: flex;
            justify-content: center;
            height: 402px;

            & > * {
                display: none;
                flex: 1;
    
                &:nth-child(1) {
                    display: block;
                }
            }
        }
    }

    &__link {
        display: inline-block;
        width: 100%;
        max-height: 350px;
        transition: all .2s;
        outline: none;

        &:hover,
        &:focus,
        &:active {
            box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.4);
            transition: all .2s;
        }
    }

    &__slide-wrap {
        font-size: 0;
        padding: 10px;
    }

    &__img {
        position: relative;
        width: 100%;
        height: 100%;
        max-height: 325px;
        object-fit: cover;
        z-index: -1;
    }

    @include media-sm {
        margin-right: -15px;
        margin-left: -15px;

        &__slick {
            max-width: 600px;

            .slick-prev {
                left: 0;
            }

            .slick-next {
                right: 0;
            }

            &:not(.slick-initialized) {
                height: 295px;

                & > * {

                    &:nth-child(2) {
                        display: block;
                    }
                }
            }
        }

        &__slide-wrap {
            padding-right: 15px;
            padding-left: 15px;
        }
    }

    @include media-md {
        &__slick {
            max-width: 726px;

            .slick-arrow {
                top: 115px;
            }
        }
    }

    @include media-lg {
        &__slick {
            max-width: 1090px;
            margin-right: auto;
            margin-left: auto;

            .slick-arrow {
                top: 145px;
            }

            &:not(.slick-initialized) {
                height: 420px;

                & > * {

                    &:nth-child(3) {
                        display: block;
                    }
                }
            }
        }
    }

    @include media-content {
        margin-right: -33px;
        margin-left: -33px;

        &__slick {
            max-width: 966px;
            margin-right: 0;
            margin-left: 0;

            .slick-prev {
                left: 16px;
            }

            .slick-next {
                right: 16px;
            }
        }

        &__slide-wrap {
            padding-right: 33px;
            padding-left: 33px;
        }
    }
}
