.slider-projects {
    margin-top: 30px;

		&__slide-wrap {
            // width: 100%;
		}

		&__img-box {
            width: 100%;
            max-height: 350px;
            margin-bottom: 24px;
		}

		&__img {
            width: 100%;
            height: 100%;
            max-height: 350px;
            object-fit: cover;
		}

		&__desc {
            margin-bottom: 37px;
            font-size: 16px;
            font-weight: 600;
            line-height: 26px;
            text-transform: capitalize;
            color: rgba(17, 16, 16, 0.5);
		}

		&__btn-wrap {
		}

        &__slick {
            max-width: 400px;
            margin: 0 auto;

            .slick-slide {
                outline: none;
            }
        
            .slick-arrow {
                padding: 0;
                font-size: 0;
                position: absolute;
                z-index: 1;
                top: 175px;
                outline: none;
                transition: all .2s;
                width: 37px;
                height: 37px;
                background-repeat: no-repeat;
                background-color: $color-bg;
                border: 1px solid transparent;
                background-image: url("data:image/svg+xml,%3Csvg width='12' height='19' viewBox='0 0 12 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5 1L10 9.5L1.5 18' stroke='black' stroke-width='1.5' stroke-linecap='round'/%3E%3C/svg%3E%0A");
                background-position: center;
            }

            .slick-prev {
                left: -15px;
                transform: matrix(-1, 0, 0, 1, 0, 0);
                &:hover,
                &:focus,
                &:active {
                    border: 1px solid $color-text-primary;
                }
            }
        
            .slick-next {
                right: -15px;
                
                &:hover,
                &:focus,
                &:active {
                    border: 1px solid $color-text-primary;
                }
            }

            &:not(.slick-initialized) {
                display: flex;
                justify-content: center;
                height: 402px;

                & > * {
                    display: none;
                    flex: 1;
        
                    &:nth-child(1) {
                        display: block;
                    }
                }
            }
        }

    @include media-xs {
        &__slick {
            max-width: 726px;
            margin: 0 auto;

            .slick-prev {
                left: 0;
            }

            .slick-next {
                right: 0;
            }

            &:not(.slick-initialized) {
                height: 455px;

                & > * {

                    &:nth-child(2) {
                        display: block;
                    }
                }
            }
        }

        &__slide-wrap {
            padding: 0 15px;
        }
    }

    @include media-md {
        &__slick {
            max-width: 1090px;
            margin: 0 auto;

            .slick-prev {
                left: 0;
            }

            .slick-next {
                right: 0;
            }

            &:not(.slick-initialized) {
                height: 420px;

                & > * {

                    &:nth-child(3) {
                        display: block;
                    }
                }
            }
        }
    }

    @include media-lg {
        margin: 40px -15px 0;

        &__slick {
            max-width: none;
            margin: 0;
        }

        &__img-box {
            margin-bottom: 34px;
		}

        &__desc {
            margin-bottom: 43px;
        }

        &__slick {
            &:not(.slick-initialized) {
                height: 471px;
                min-height: 471px;

                & > * {

                    &:nth-child(2) {
                        display: block;
                    }

                    &:nth-child(3) {
                        display: block;
                    }

                    &:nth-child(4) {
                        display: block;
                    }
                }
            }
        }
    }
}
