.socials {
    list-style: none;
    margin: 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;

    &__item {
        margin: 0;
        font-size: 0;

        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    &__link {
        display: inline-block;
        width: 25px;
        height: 25px;
        font-size: 0;
        background: transparent;

        &--fb {
            width: 12px;
            height: 22px;
        }

        &--tw {
            width: 20px;
        }
    }
}
