$font-main: 'Nunito Sans', sans-serif;
$font-title: 'Poppins', sans-serif;

$color-text-primary: #111010;
$color-text-secondary: #616161;
$color-text-banner: #fff;
$color-decor: #c4c4c4;
$color-text-nav: #0A0A0A;
$color-text-nav-hov: #979797;

$color-bg: #fff;

$color-icon: #000;

$width-xxs: 320px;
$width-xs: 768px;
$width-md: 1024px;
$width-lg: 1366px;

$width-content: 1460px;

$width-gap-gorizontal: 20px;
