$font-main: 'Nunito Sans', sans-serif;
$font-title: 'Poppins', sans-serif;

$color-text-primary: #111010;
$color-text-secondary: #616161;
$color-text-banner: #fff;
$color-decor: #c4c4c4;
$color-text-nav: #0A0A0A;
$color-text-nav-hov: #979797;

$color-logo: #000;
$color-logo-ft: #F5F5F5;

$color-bg: #fff;

$color-footer-bg: #111010;
$color-footer-text: #fff;
$color-footer-links: #A4A4A4;
$color-footer-links-hov: #fff;
$color-footer-line: #474747;

$color-banner-index-bcg: #F7F7F7;
$color-banner-index-text: #616161;



$color-icon: #000;

$width-min: 320px;
$width-xxs: 568px;
$width-xs: 768px;
$width-md: 1024px;
$width-lg: 1366px;

$width-content: 1460px;

$width-gap-gorizontal: 20px;
