<div class="header-icons">
    <button class="header-icons__btn header-icons__btn--cart" type="button" aria-label="open shopping cart">
        <svg class="header-icons__icon icon" aria-hidden="true">
            <use xlink:href="#icon-cart"></use>
        </svg>
    </button>
    <button class="header-icons__btn header-icons__btn--heart" type="button" aria-label="open favorites products">
        <svg class="header-icons__icon icon" aria-hidden="true">
            <use xlink:href="#icon-heart"></use>
        </svg>
    </button>
    <button class="header-icons__btn header-icons__btn--profile" type="button" aria-label="open your profile">
        <svg class="header-icons__icon icon" aria-hidden="true">
            <use xlink:href="#icon-profile"></use>
        </svg>
    </button>
</div>