<div class="header-icons">
    <button class="header-icons__btn header-icons__btn--cart" type="button">
        <svg class="header-icons__icon icon">
            <use xlink:href="#icon-cart"></use>
        </svg>
    </button>
    <button class="header-icons__btn header-icons__btn--heart" type="button">
        <svg class="header-icons__icon icon">
            <use xlink:href="#icon-heart"></use>
        </svg>
    </button>
    <button class="header-icons__btn header-icons__btn--profile" type="button">
        <svg class="header-icons__icon icon">
            <use xlink:href="#icon-profile"></use>
        </svg>
    </button>
</div>