<ul class="socials">
    <li class="socials__item">
        <a href="#" class="socials__link socials__link--fb" aria-label="socials link facebook">
            <svg class="socials__icon icon">
                <use xlink:href="#social-fb"></use>
            </svg>
        </a>
    </li>
    <li class="socials__item">
        <a href="#" class="socials__link socials__link--tw" aria-label="socials link twitter">
            <svg class="socials__icon icon">
                <use xlink:href="#social-tw"></use>
            </svg>
        </a>
    </li>
    <li class="socials__item">
        <a href="#" class="socials__link socials__link--in" aria-label="socials link linkedin">
            <svg class="socials__icon icon">
                <use xlink:href="#social-in"></use>
            </svg>
        </a>
    </li>
</ul>
